html,body {
	background-color: rgb(249,247,237);
	font-family: 'Cutive Mono', monospace;
}
#top_bar {
	height: 40px;
	font-size: 14px;
}
#login {
	float:right;
}
.dropdown-toggle::after {
	transition: transform 0.15s linear; 
 }
  
 .show.dropdown .dropdown-toggle::after {
   transform: translateY(3px);
 }
