html,body {
	background-color: rgb(249,247,237);
	font-family: Arial, monospace;
}
#top_bar {
	height: 40px;
	font-size: 14px;
	
}
#login{
	float:right;
	cursor: pointer;
}

.dropdown-toggle::after {
	transition: transform 0.15s linear; 
 }
  
 .show.dropdown .dropdown-toggle::after {
   transform: translateY(3px);
 }
 #icon_search{
	 color: white;
	 vertical-align: -4px;
	 font-size: 18px;
	 padding: 0px 10px;
 }
